@font-face {
  font-family: "iconfont"; /* Project id 2686681 */
  src: url('iconfont.woff2?t=1627265164632') format('woff2'),
       url('iconfont.woff?t=1627265164632') format('woff'),
       url('iconfont.ttf?t=1627265164632') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zanwushuju1:before {
  content: "\e6d4";
}

.icon-zanwushuju2:before {
  content: "\e6d5";
}

.icon-taocandinggou:before {
  content: "\e6cb";
}

.icon-left:before {
  content: "\e647";
}

.icon-yuechongzhi:before {
  content: "\e608";
}

.icon-chaxun:before {
  content: "\e632";
}

.icon-wentifankui:before {
  content: "\e63a";
}

.icon-chongzhijilu:before {
  content: "\e612";
}

.icon-right:before {
  content: "\e61d";
}

.icon-shimingrenzheng:before {
  content: "\e750";
}

.icon-zhinengzhenduan:before {
  content: "\e617";
}

.icon-gengxin:before {
  content: "\e626";
}

.icon-zaixiangoumai:before {
  content: "\e811";
}

.icon-gonggao:before {
  content: "\e614";
}

.icon-yishiming:before {
  content: "\e63d";
}

.icon-yijihuo:before {
  content: "\e62c";
}

.icon-font-more:before {
  content: "\e667";
}

.icon-font-left:before {
  content: "\e654";
}

.icon-iot:before {
  content: "\e916";
}

